{% extends "base.html" %}
{% load i18n %}
{% block title %}Gestion des rapports{% endblock %}
{% block page-id %}stock-report-management{% endblock %}
{% block content %}
    
<div id="header">
    <div id="menu">
        <ul>
            <li class="first"><a href="{% url kodonso-home %}">{% trans "Home" %}</a></li>
            <li ><a href="{% url stock-dashboard %}">{% trans "Abstract" %}</a></li>
            <li><a href="{% url stock-all %}">{% trans "All Stocks" %}</a></li>
            <li class="current_page_item"><a href="{% url stock-report-management %}">{% trans "Reports Management" %}</a></li>
            <li><a href="{% url stock_raport_pdf %}">{% trans "Summary" %}</a></li>
            <li><a href="{% url stock_maxi %}">{% trans "Maximum stock" %}</a></li>
        </ul>
    </div>

    <div id ="push_report_management">
       
                   
       <div id="login" class=" prepend-17">
                {% trans "Welcome" %} {{ user.username }}
                <a href="{% url logout_%}">{% trans "Disconnect" %}</a> 
                <a href="{% url administration %}">{% trans "manage" %}</a>
        </div>
         <h1>{% trans "Reports management" %}</h1>
        <div id="report-management-pagination" class="prepend-14">
            
            <span>{% include "_report_management_pagination.html" %}</span>
            
        </div>
        <p id ='auth_error' >{{error}}</p>
        <span id='error_doublon'>
            <h2>
                {{err}}
            </h2>
        </span>
        <form id='formu' class ="{{valide}}" method="post" action="" autocomplete="off">        
            <span id='warning'>
                <table>
                    <tr>
                        {% for field in form %}
                            {% ifnotequal field.name "warning" %}
                                {% ifnotequal field.name "reporter" %}
                                    <td>{{ field.label_tag }}: {{ field }}</td>
                                {% endifnotequal %}
                            {% endifnotequal %}
                        {% endfor %}
                        <td>
                             <p id = 'auth' class= "{{save}}">
                                <input type='submit' value ='{% trans "Save" %}'/>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6" style="text-align:left;">
                            {% for field in form %}
                                {% if field.errors %}
                                <span id =erreur_saisie>
                                    {% for error in field.errors %}

                                     <br>{{ field.label_tag}}: {{ error }}
                                    {% endfor %}
                                </span>
                                {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                </table>
            </span>  

            <script type="text/javascript">
                jQuery('#id_date').datepicker({ dateFormat: 'dd-mm-yy' });
            </script>
        </form>

            <table id="insured_list" class="tablesorter">
                <thead>
                <tr>
                    <th>{% trans "Schools" %}</th>
                    <th>{% trans "Product" %}</th>
                    <th>{% trans "Incomming" %}</th>
                    <th>{% trans "Consumption" %}</th>
                    <th>{% trans "Remaining stocks" %}</th>
                    <th>{% trans "Date" %}</th>
                    <th> {% trans "Delete" %}</th>
                    <th>{% trans "Edit" %}</th>
                </tr>
             </thead>    
                <tbody> 
                {% for report in page.object_list %}

                    <tr>
                        <td><a href="{{ report.url_place }}">{{ report.place }}</a></td>
                        <td><a href="{{ report.url_product }}">{{report.product}}  </a></td>
                        <td> {{report.incomming}} kg</td>
                        <td>{{ report.consumption }} kg</td>
                        <td>{{ report.remaining }} kg</td>
                        <td>{{ report.date|date:"d b Y"}}</td>
                        <td><a href="{{report.url_delete}}">
                           <img id = 'image' class ="{{valide}}" src="/static/css/images/DeleteRed.png" width="20" height="20" title="{% for error in field.errors %}{{ error }}{% endfor %}" /></a>
                        </td>
                        <td><a href="{{report.url_modification}}">
                            <img id = 'image' class ="{{valide}}" src="/static/css/images/Pencil3.png" width="20" height="20" title="{% for error in field.errors %}{{ error }}{% endfor %}" /></a>
                        </td>
                    </tr> 
                    {% empty %}
                        <tr>
                        <td colspan="8">{{ in_empty_case }}</td>
                        </tr> 
                {% endfor %} 
                </tbody> 
                
            </table>
        </form>
        <div id="report-management-pagination" class ="prepend-14">
        <span>{% include "_report_management_pagination.html" %}</span>
        </div>
            {%if page.object_list %}
<a class="prepend-17" href="{% url export_manage_stock page.number %}">{% trans "Download those data at size CSV" %}</a>
            {% endif %}
    {% endblock %}  
